<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/orders_table.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

{% include 'navbar.html' %}

<div class="main-container">
    <div class="header">
        <h1>Tuotevalikoima</h1>
    </div>

    {% if products_list %}
        <table>
            <tr>
                <th>Tuotteen nimi</th>
                <th>Tuotenumero</th>
                <th>Hinta</th>
                <th></th>
            </tr>
            {% for product in products_list %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.product_number }}</td>
                    <td>{{ product.price }}€</td>
                    <td>
                      <div class="action-buttons">
                        <form action="/modify_or_delete_product/{{ product.product_number }}" method="POST">
                            <input type="hidden" name="action" value="modify">
                            <input type="submit" value="Muokkaa">
                        </form>
                        <form action="/modify_or_delete_product/{{ product.product_number }}" method="POST">
                            <input type="hidden" name="action" value="delete">
                            <input type="submit" value="Poista">
                        </form>
                      </div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>TUOTTEITA YHTEENSÄ</td>
                <td>-</td>
                <td>{{ total_quantity }}</td>
            </tr>
        </table>
    {% endif %}
</div>

</body>

