<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

  {% include 'navbar2.html' %}


  <div class="main-container">
    {% if session.role == 1 %}
        <div class="product-container">
        </div>
        <p>Luo uusi brändi tai lisää tuote olemassaolevalle brändille</p>
      <div class="product-container">
       <span>&nbsp;</span>
       <a href="/add_brand" class="button">Lisää uusi brändi</a>
       <a href="/add_product" class="button">Lisää uusi tuote</a>
       <span>&nbsp;</span>
      </div>
    {% endif %}

  </div>
</body>
