<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

  {% include 'navbar.html' %}

  <div class="main-container">
    <div class="header"> 
      <h2>Luo käyttäjätunnus</h2>
    </div>

    <form action="/create_user" method="POST">
      Tunnus: <input type="text" name="username"><br>
      Salasana: <input type="password" name="password"><br>
      <input type="submit" value="Luo tunnus"><br>
    </form>
  </div>
</body>



