<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

  {% include 'navbar2.html' %}


  <div class="main-container">
  
  {% if session.username %}
  <div class="product-container">
    {% for brand in brands %}
      <a href="{{ url_for('brand_page', brand_id=brand.id) }}" class="product-card-link">
        <div class="brand-card">
          <div class="brand-image">
            <img src="{{ url_for('show_brand_image', brand_id=brand.id) }}" alt="{{ brand.name }}">
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
  {% else %}
  <div style="margin-top: 20px;">Kirjaudu sisään tai luo tunnus</div>
  {% endif %}

  </div>

</body>
