<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

  {% include 'navbar2.html' %}

  <div class="main-container">
   <div style="margin-top: 20px;">Kirjaudu sisään</div>
    <div class="input-container">
        <form action="/login" method="POST">
          Tunnus: <input type="text" name="username"><br>
          Salasana: <input type="password" name="password"><br>
          <input type="submit" value="Kirjaudu">
        </form>
    </div>
  </div>
</body>
