<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

  {% include 'navbar.html' %}

  <div class="main-container">
    <div class="header">
      <h2>Kirjaudu sisään</h2>
    </div>

    <div class="input-container">
        <form action="/login" method="POST">
          Tunnus: <input type="text" name="username"><br>
          Salasana: <input type="password" name="password"><br>
          <input type="submit" value="Kirjaudu">
        </form>
    </div>
  </div>
</body>
