<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/orders_table.css"> 
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

  {% include 'navbar2.html' %}


  <div class="main-container">
  {% if user_orders|length > 0 %}
    {% for username, orders in user_orders.items() %}
        <table>
                <tr>
                    <td>{{ username }}</td>
                    <td></td>
                    <td>
                        <form action="/mark_billed" method="POST">
                            <input type="hidden" name="username" value="{{ username }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <input type="submit" value="Merkitse laskutetuksi">
                        </form>
                    </td>
                </tr>
                <tr>
                    <th>Tuotenimi</th>
                    <th>Määrä</th>
                    <th>Hinta</th>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.product_name }}</td>
                        <td>{{ order.total_quantity }}</td>
                        <td>{{ order.total_price }} €</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Total</td>
                    <td>{{ total_user_data[username][0][0] }}</td>
                    <td>{{ total_user_data[username][0][1] }} €</td>
                </tr>
           </table>
    {% endfor %}
  {% else %}
    <p>Ei laskutettavia tilauksia</p>
  {% endif %}
  </div>
</body>
