<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="/static/orders_table.css"> 
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

{% include 'navbar2.html' %}

<div class="main-container">
    {% if products_list %}
        <table>
            <tr>
                <th>Tuote</th>
                <th>Hinta</th>
                <th>Määrä</th>
                <th></th>
            </tr>
            {% for product in products_list %}
                <tr>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.prod_price }}€</td>
                    <td>{{ product.prod_quantity }}</td>
                    <td>
                        <form action="/delete_product" method="POST">
                            <input type="hidden" name="order_detail_id" value="{{ product.id }}">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <input type="submit" value="Poista tilauksesta">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>TOTAL</td>
                <td>{{ total_price }}€</td>
                <td>{{ total_quantity }}</td>
            </tr>
        </table>
    {% else %}
        <p>Ei nykyisiä tilauksia.</p>
    {% endif %}
</div>

</body>
